/* HEADER */
header {
    background: #ff8800;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav a {
    margin-left: 25px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

/* HOME PAGE */
.home-section {
    padding: 120px;
    text-align: center;
    background: #fff7ec;
}

.home-section h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.btn {
    padding: 12px 22px;
    background: #ff8800;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
}

.page-title {
    text-align: center;
    margin: 30px 0;
    font-size: 36px;
}

/* MENU */
.menu-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.item-card {
    background: white;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.1);
    text-align: center;
}

.item-card img {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.item-card h3 {
    margin: 10px 0;
    font-size: 22px;
}

.price {
    font-size: 20px;
    color: #ff8800;
    font-weight: bold;
}

.item-card button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #ff8800;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.item-card button:hover {
    background: #e67500;
}

/* CART */
.cart-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    background: white;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.cart-item img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    margin-right: 20px;
}

.total-box {
    text-align: center;
    margin: 30px;
    background: white;
    padding: 20px;
    border-radius: 16px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

#totalAmount {
    font-size: 28px;
}
